<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="kun">
        <h1>Weather site</h1>
    </header>
    <div class="main">
        <p class="kun2">VOTRE VILLE</p>
        <form id="form" action="/" method="post">
            <div class="input-group mb-3">
              <input id="city" type="text" name="nm" class="form-control" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Cherchez</button>
            </div>
        </form>
        <h3 class="yo">{{message}}</h3>
        <div id="image">

        </div>
        <ul id="maListe" class="list-group list-group-flush">
        </ul>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>